{
  "extends": "airbnb-base/legacy",
  "rules": {
    // Override Airbnb's style guide defaults for ES5
    "camelcase": ["error", {"properties": "always"}],
    "comma-dangle": ["error", "always-multiline"],
    "indent": ["error", 4, {"SwitchCase": 1}],
    "max-len": ["error", 256, 4],
    "no-underscore-dangle": "off",
    "no-use-before-define": "off",
    // "padded-blocks": "off",
    // "spaced-comment": "off",
    "vars-on-top": "off"
  }
}
